{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'classifier/main.css' %}">

	{% if title %}
		<title>Django Recognizer-{{ title }}</title>
	{% else %}
		<title>Django Recognizer</title>
	{% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'classifier-home' %}">Django Recognizer</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'classifier-home' %}">Home</a>
            </div>
            <!-- Navbar Right Side -->

          </div>
        </div>
      </nav>
    </header>

	
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          
          {% block content %}{% endblock %}


          {% if post %}
            <img width="400px" height="250px" src="{% get_media_prefix %}{{ img1src }}"><br><br>
            <h1>This is {{ Class }}</h1>

          {% else %}
              <div class="mt-auto">
                <div class="card">

                  <!--Card content-->
                  <div class="card-body">

                    <!-- Form -->
                    <form name="" method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                      <!-- Heading -->
                      <h3 class="dark-grey-text text-center">
                        <strong>Select Image</strong>
                      </h3>
                      <hr>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="image1d">1</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" required="required" accept=".png,.jpg" class="custom-file-input" id="image1" name="file1" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" id="label1" for="image1">Choose first image</label>
                          </div>
                        </div>


                      <div class="text-center">
                        <button class="btn btn-dark btn-lg">Upload</button>
                      </div>

                    </form>
                    <!-- Form -->

                  </div>

                </div>
                <!--/.Card-->
              </div> 
          {% endif %}  

        </div>
      </div>
    </main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>